name: Build and Deploy Sphinx Documentation

on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Install the wheel
        run: |
          sudo apt-get update -y
          sudo apt-get install -y pandoc
          sudo apt install software-properties-common=0.99.9.12 build-essential=12.8ubuntu1.1 python3.8-venv libhwloc-dev graphviz
      - name: Install Clang-17
        shell: bash
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 17
          sudo apt install -y libc++-17-dev libc++abi-17-dev
      - name: Install dependencies
        run: |
          python3 -m venv .docs-env
          source .docs-env/bin/activate
          pip install -r requirements.txt
      - name: Build documentation
        run: |
          source .docs-env/bin/activate
          python build_docs.py
      - name: Make root index.html
        run: |
          touch output/index.html
          echo -n "docs.tenstorrent.com" > output/CNAME
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output/
          force_orphan: true
